version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  server:
    build: ./server
    container_name: server
    restart: always
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: mydb
      PORT: 5000
    ports:
      - "5000:5000"
    depends_on:
      - mysql

  client:
    build: ./client
    container_name: client
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - server

volumes:
  mysql_data:
